@charset "UTF-8";

body{
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  padding-left: 10px;
  max-width: 750px;
  color:#333;
  font-family: 'Source Serif Pro', serif;
  font-weight: 500;
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
  line-height:1.5;
}

.post-list .content {
  text-decoration: none;
}

.col3 {
  float: left;
  width: 33.33%;
}

.title {
  font-size: 25px;
  padding-top: 30px;
}

h1,h2,h3{
  line-height:1.2;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 30px;
  margin-top: 48px;
}

h3 {
  font-size: 2em;
}

.header {
  padding: 10px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: #aaa;
}

.header a {
  margin-top: 35px;
  text-decoration: none;
  color: #aaa;
}

.subtitle {
  color: #777;
  padding-left: 0px;
  font-size: 1.1em;
  border-left-width: 0px;
  border-left-color: #555;
  border-left-style: solid;
  margin-bottom: 20px;
}

.end-creds {
  text-align: center;
  padding-top: 80px;
  font-size: 15px;
  padding-bottom: 20px;
  color: #888888;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
